<div *ngIf="agenda">
    <h2>Details:</h2>
    Agenda
    Item of Business ({{agenda.ItemOfBusinesses.length}})
    <img src="../../images/plus.ico" width="20" (click)="addItemOfBusiness()" />
    <!--<div *ngFor="let item of agenda.ItemOfBusinesses">
        <item-of-business (itemUpdateOutput)="itemListener($event)" [item]="item"></item-of-business>
    </div>-->

    <ol type="1" id="{{SortableListId}}" class="list-sortable" [class.number-list] = "IsNumberedList">
        <li class="panel panel-info" *ngFor="let item of agenda.ItemOfBusinesses; let i = index">
            <div class="panel-heading">You can drag this panel.</div>
            <div class="panel-body">
                <item-of-business (itemUpdateOutput)="itemListener($event)" [item]="item" [itemOfBusinessIndex]="i"></item-of-business>
            </div>
            <input type="button" (click)="removeItemOfBusiness(i)" value="Remove" class="btn-group-lg" />
        </li>
    </ol>


    <agenda-footer [subItemLength]="agenda.ItemOfBusinesses.length"></agenda-footer>
</div>
<ng-Content></ng-Content>