<style media="screen">
    .header {
        background-color: #0143A3;
        background: -webkit-linear-gradient(#0143A3, #0273D4);
        background: linear-gradient(#0143A3, #FF0273D4);
        color: #FFF;
        padding: 30px;
    }

    section {
        padding-top: 30px;
    }

</style>

<input [(ngModel)]="item.Name" placeholder="Name" />
Hearings ({{item.HearingOfEvidences.length}})
<!--<multiselect (modelUpdated)="subItemTypeSelected($event)"
             [multiple]="false"
             [collection]="subItemTypes"
             [label]="'name'"
             [mutiselectModel]="multiselectModel">
</multiselect>
<img src="../../images/plus-red.png" width="20" (click)="addSubItem()" />-->


<ng-select [data]="value"
           [multiple]="false"
           [items]="items"
           [disabled]="disabled"
           (data)="refreshValue($event)"
           (selected)="selected($event)"
           (removed)="removed($event)"
           placeholder="only hearing of evidence works"></ng-select>

<select2 [id]="selectId" [multiple]="false" [data]="items2" (selected)="selected($event)"></select2>

<img src="../../images/plus-red.png" width="20" (click)="addItem()" />


<!-- Bootstrap 3 panel list. -->
<ol type="1" id="{{SortableListId}}" class="list-sortable">
    <li class="panel panel-info" *ngFor="let hearing of item.HearingOfEvidences">
        <div class="panel-heading" style="background-color:#ead3b5">You can drag this panel.</div>
        <div class="panel-body">
            <hearing-of-evidence [hearing]="hearing"></hearing-of-evidence>
        </div>
    </li>
</ol>